.dart_tool/
.packages
.pub/
build/
coverage/
.DS_Store
*.iml
.idea/
.vscode/
macos/Runner/Configs/AppInfo.xcconfig
windows/flutter/ephemeral/
linux/flutter/ephemeral/
*.dylib
*.dll
*.so
native/vendor/
.env
.env.*
!.env.example
assets/fonts/*.ttf
assets/fonts/*.tmp
